/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/**
 * base
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/**
 * layout
 */

body {
	background: #f0efe9;
}

.mainContainer {
	width: 80%;
	margin: 10px  auto;
}

input, textarea, select,
#chatContent {
	background: #FFF;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	width: 200px;
	margin: 0;
	vertical-align: middle;
}

/**
 * 
 */

/**
 * chatContent
 */

#chatContent {
	width: 500px; 
	height: 300px; 
	margin: 0 0 20px 0; 
	border: solid 1px #999; 
	background: #fff;
	overflow-y: scroll;
}

#chatForm {
	float: left;
}

#chatForm label {
	width: 100px;
	float: left;
	line-height: 27px;
	font-weight: bold;
}

#chatForm select,
#chatForm input,
#chatForm textarea {
	float: right;
	margin: 0 0 5px 0;
	width: 400px;
}

.username {
	color: blue;
	font-weight: bold;
}
