html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
    vertical-align: top;
    outline: none;
    -moz-outline: none;
}

@font-face {
    font-family: 'Appleberry';
    src: url('../font/appleberry-webfont.eot');
    src: url('../font/appleberry-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/appleberry-webfont.woff') format('woff'),
         url('../font/appleberry-webfont.ttf') format('truetype'),
         url('../font/appleberry-webfont.svg#appleberry') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriad_prolight_condensed';
    src: url('../font/myriadpro-lightcond-webfont.eot');
    src: url('../font/myriadpro-lightcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/myriadpro-lightcond-webfont.woff') format('woff'),
         url('../font/myriadpro-lightcond-webfont.ttf') format('truetype'),
         url('../font/myriadpro-lightcond-webfont.svg#myriad_prolight_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'myriadprosemibold';
        src: url('../font/myriadpro-semibold.eot');
        src: local('☺'), url('../font/myriadpro-semibold.woff') format('woff'), 
        url('../font/myriadpro-semibold.ttf') format('truetype'), 
        url('../font/myriadpro-semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadproregular';
        src: url('../font/myriadpro-regular.eot');
        src: local('☺'), url('../font/myriadpro-regular.woff') format('woff'), 
        url('../font/myriadpro-regular.ttf') format('truetype'), 
        url('../font/myriadpro-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
    width: 100%;
    height: 100%;
    background: #3b8239;
}

#loader{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #3b8239 url('../img/loader.gif') center center no-repeat;
    z-index: 1000;
}

#overflowContainer{
    overflow: hidden;
    height: 0;
}
