<!DOCTYPE html><html>
<head>
<title>Real time web chat</title>
<link rel="stylesheet" type="text/css" href="/css/base.css">
</head>
<body>
	<div class="mainContainer">
		
		<div id="chatContent"></div>

		<div class="controls">
			<form id="chatForm">
				<ul>
					<li>
						<label for="username">Name</label>
						<input id="username" />
					</li>
					<li>
						<label for="message">Message</label>
						<input id="message" />
					</li>
					<li style="visibility: hidden">
						<button id="send" type="submit" value="send">send</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
	
	<script src="/chat.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</body>
</html>